<h1 class="p-3">아래 단어들 중 어떤 욕구가 만족이 되면 일할 때 즐거우신가요? (일하면서 본인이 중요하다고 생각하는건 무엇인가요?)</h1>
<h2 class="p-3">순서대로 정렬해주세요. 가장 중요한건 왼쪽으로, 덜 중요하다고 생각하는건 오른쪽으로~</h2>

<div class="alert alert-info" id="description">마우스를 카드위에 올리면 카드에 대한 설명이 나옵니다.</div>

<ul id="motivators">
  <% if @answer != nil %>
    <% @answer.ordering.each do |motivator| %>
      <li data-index="<%= motivator %>"><%= image_tag "motiv_#{motivator}.png", class: "motivator" %></li>
    <% end %>
  <% else %>
    <% 10.times.each do |index| %>
      <li data-index="<%= index + 1 %>"><%= image_tag "motiv_#{index + 1}.png", class: "motivator" %></li>
    <% end %>
  <% end %>
</ul>
<div class="text-center">
  <button class="btn btn-lg btn-primary submit-btn btn-lg" data-toggle="modal" data-target="#myModal" href="#">제출하기</button>
</div>
</div>

<div id="success_message" class="container">
  <div class="alert alert-success">
    <strong>Obrigado por participar!</strong>
  </div>
</div>
<div class="modal" tabindex="-1" role="dialog" id="myModal">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">제출합니다.</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>제출하고 난 후 우리팀 사람들의 CHAMPFROGS 순서를 한번 살펴보시고 멤버들과 조금 더 가까워지기를 바랍니다.</p>
        <p>내적/외적 동기가 일하면서 채워지고 있는지 한번 생각해보세요.</p>
        <p>그리고 본인이 일하면서 언제 즐거웠고 슬펐는지 생각해보시고 어떻게 해야 일을 더 즐겁게 할수 있을지 같이 고민해보는 시간을 가졌으면합니다.</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" id="saveOrder">Save changes</button>
      </div>
    </div>
  </div>
</div>