<nav class="navbar navbar-expand-md navbar-dark bg-dark ">
  <%= link_to root_url, class: 'navbar-brand d-flex align-items-center' do %>
    <%= image_tag "logo.png", size: '80x51', class: 'mr-md-3' %>
    <strong>CHAMP FROGS</strong>
  <% end %>
  <% if user_signed_in? %>

    <div class="collapse navbar-collapse justify-content-end">
      <span class="navbar-text mr-md-3"><%= current_user.email %></span>
      <div class="navbar-text "><%= link_to '로그아웃', destroy_user_session_url, method: 'delete', title: '로그아웃' %></div>
    </div>
  <% end %>
</nav>